.sec{
    width: 80%;
    height: 400px;
    border: 1px solid red;
}
.form{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(0, 38, 255);
    background-color: skyblue;
}
.FORM-H1{
    
}
.SPAN-FORM{
    color: snow;
}
.formm{
    width: 100%;
    height: 200px;
    border: 1px solid royalblue;
    border-radius: 15px;
    background-color: rgb(8, 66, 88);
}
.formm-h2{
    text-align: center;
    color: snow;
    margin-top: 80px;
    text-transform: capitalize;
    font-size: 50px;
}
.form3{
    width: 100%;
    height: 150px;
    border: 1px solid royalblue;
    border-radius: 15px;
    background-color: rgb(48, 84, 180);
}
.h2-form3{
    text-align: center;
    color: snow;
    margin-top: 80px;
    text-transform: capitalize;
    font-size: 50px;

}
.form4{
    width: 100%;
    height: 300px;
    border: 1px solid slategrey;
    border-radius: 15px;
    background-color: slategrey;
}
.h2-form4{
    color: snow;
    font-size: 30px;
    margin-top: 50px;

}
.h2-over{
    visibility: hidden;
    transition: 0.2s;
    border: 1px solid rgb(48, 84, 180);
    border-radius: 15px;
    width: 200px;
    height: 100px;
}
.hove:hover .h2-over{
visibility: visible;
}
.form-f{
    width: 100%;
    height: 100px;
    border: 1px solid rgb(231, 148, 148);
    border-radius: 15px;
    background-color: rgb(20, 117, 117);
}
.h2-f{
    text-align: center;
    color: azure;
    margin-top: 20px;
    font-size: 50px;
}
.con{
    margin-top: 150px;
}
.con2{
    margin-top: 150px;
}
.img{
    width: 100%;
    /* height: 400px; */
    border: 1px solid rgb(230, 209, 218);
    margin-top: 150px;
    background-image: url(../image/معابد.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-t{
    width: 100%;
    height: 400px;
background-color: rgba(0, 0,0, 0.1);
}
.div-perant{
    width: 300px;
    height: 500px;
    border: 1px solid royalblue;
    padding: 10px 30px;
    /* position: relative; */
}
.perant{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: left;
    /* position: relative; */
}
.dod{
position: relative;
}


.div-perant::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    /* right: 0; */
    width: 0px;
    height: 0px;
    transition: 0.5s;
    background-color: steelblue;
    opacity: 0.7;
}
.div-perant:hover::after{
    width: 100%;
    height: 100%;
    /* left: 0; */
    /* right:100px; */
}
.div-perant::before{
    content: "";
    position: absolute;
    bottom:0px;
    /* left: 0px; */
    right: 0;
    width: 0px;
    height: 0px;
    transition: 0.5s;
    background-color: steelblue;
    opacity: 0.7;
}
.div-perant:hover::before{
    width: 100%;
    height: 100%;
    /* left: 0; */
    /* right:100px; */
}
/* ////////////////////////////////////////// */
.imgb{
    /* width: 100%; */
    /* background-image: url(../image/دف2.jpg); */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* margin-top: 150px; */
    /* border: 1px solid rgb(255, 0, 119); */
    width: 100%;
    /* height: 400px; */
    border: 1px solid rgb(255, 0, 119);
    margin-top: 150px;
    background-image: url(../image/معابد.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .imgb{
    width: 100%;
    height: 400px;
} */


.info-imgb{
    width: 100%;
height: 500px;
border: 1px solid red;
}
/* //////////////////////////////////////// */
.container-think{
    width: 100%;
    height: 700px;
    border: 1px solid rgb(60, 60, 211);
}
.info-think{
    width: 100%;
    height: 150px;
    background-color: cadetblue;
    border-radius: 25px;
}
.info-think h2{
    text-align: center;
    color: cornsilk;
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-think{
    width: 300px;
    height: 500px;
    border: 1px solid rgb(60, 60, 211);
margin: 50px 20px;
background-image: url(../image/محمد\ صلاح.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(0, 0, 0, 0.1);
/* : scale(0); */
border-radius: 15px;

}
.item-think h2{
    color: seashell;
    text-align: center;
}
.item-think span{
    text-align: center;
    color: seashell;
    margin: auto;
}
.item-think i{
    color: seashell;
    margin-left: 45px;
}
.img-item{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../image/محمد\ صلاح.jpg);
    background-size: cover;
    margin-left: 40px;
    margin-top: 130px;
}
.item-think:hover{
    transform: scale(1.2,1.2);
}
.perant-think{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
/* /////////////////////////////////////////////////? */
.container-news{
    width: 100%;
    height: 600px;
    border: 1px solid blue;
    margin: auto;
}
.container-news h2{
    text-align: center;
    color: blue;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.perant-news{
    width: 90%;
    height: 400px;
border: 1px solid red;
    display: grid;
    grid-template-columns:70% 20% ;
    margin: auto;
    padding: 25px 0px;
    box-shadow: 1px 1px 10px 20px rgb(92, 92, 226);

}
.item-news h3{
    color: rgb(11, 36, 104);
}
/* .spann{
    display: inline-block;
    width: 100px;
    height: 6px;
    color: rgb(48, 84, 180);
    background-color: rgb(48, 84, 180);
    border-radius: 20px;
} */
.spann:hover{
    width: 150px;
}
/* .ppp{
    text-transform: capitalize;
    color: rgb(48, 84, 180);
} */
.item-div{
    width: 100px;
    background-color: rgb(48, 84, 180);
}
.p-d{
    width: 100px;
    height: 200px;
    background-color: rgb(128, 133, 146);
    margin: 100px 60px;
    color: rgb(72, 42, 143);
    border-radius: 10px;
}
.p-d:hover{
    background-color: rgb(103, 103, 214);
}
.item-news{
    /* width: ; */
    height: 300px;
    border: 1px solid rgb(47, 20, 167);
    /* grid-column-g/ap: 60px; */
    /* margin-top: 20px; */
/* background-color: rgb(48, 84, 180); */
/* margin: 5px 0px; */
/* padding: 35px; */
}
.items-news{
    border: 1px solid rgb(47, 20, 167);

    /* border: 1px solid blue; */
    /* width: 20%; */
    height: 300px;
    


}

/* ///////////////////////////////////////// */
.perant-us{
    width: 100%;
    height: 700px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns:repeat(3,30%);
    padding: 10px 10px;
    grid-column-gap: 20px ;
    grid-template-rows:repeat(2,90%) ;
    border-radius: 15px;
    background-color: rgb(212, 205, 205);
}
.gg h2{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 10px violet ,-1px -1px 10px blue;
    margin-left: 50px;
    margin: auto;
}
.gg{
    background-color: rgb(209, 186, 186);
}
.item-us{
    border: 1px solid rgb(243, 232, 232);
    width: 320px;
    height: 280px;
    /* padding: 0px 20px; */
    border-radius: 10px;
    background-color: white;
    margin-top:70px;
    box-shadow: 1px 1px 10px violet;
}
.item-uss{
    border: 1px solid rgb(218, 212, 212);
    width: 320px;
    height: 280px;
    /* padding: 0px 20px; */
    border-radius: 10px;
    background-color: white;
    margin-left: 400px ;
    box-shadow: 1px 1px 10px violet;

}
.item-us h3{
    text-transform: capitalize;
    color: rgb(35, 35, 218);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-uss h3{
    text-transform: capitalize;
    color: rgb(35, 35, 218);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-us i{
    text-align: center;
    margin: auto;
    font-size: 90px;
    margin-left: 80px;
    margin-top: 50px;
    /* color: blue; */
    /* box-shadow: 1px 1px 15px 10px blue; */
    /* padding: 10px 25px; */
    /* font-weight: 30px; */
    font-size: 150px;
}
.item-uss i{
    text-align: center;
    margin: auto;
    font-size: 90px;
    margin-left: 80px;
    margin-top: 50px;
    /* color: blue; */
    /* box-shadow: 1px 1px 15px 10px blue; */
    /* padding: 10px 25px; */
    /* font-weight: 30px; */
    font-size: 150px;
}
.item-uss i{
    text-align: center;
    margin: auto;
    font-size: 90px;
    margin-left: 80px;
    margin-top: 50px;
    /* color: blue; */
    /* box-shadow: 1px 1px 15px 10px blue; */
    /* padding: 10px 25px; */
    /* font-weight: 30px; */
    font-size: 150px;
    margin-bottom: 1200px;
}
.item-us i{

    text-align: center;
    margin: auto;
    font-size: 90px;
    margin-left: 80px;
    margin-top: 50px;
    /* color: blue; */
    /* box-shadow: 1px 1px 15px 10px blue; */
    /* padding: 10px 25px; */
    /* font-weight: 30px; */
    font-size: 150px;
}.item-us i{
    text-align: center;
    margin: auto;
    font-size: 90px;
    margin-left: 80px;
    margin-top: 50px;
    /* color: blue; */
    /* box-shadow: 1px 1px 15px 10px blue; */
    /* padding: 10px 25px; */
    /* font-weight: 30px; */
    font-size: 150px;
    /* box-shadow: 0px 1px 10px violet; */
}
.item-us a{
    text-align: center;
    color: rgb(35, 35, 218);
    margin: auto;
margin-left: 100px;
margin-top: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* font-size: 20px; */

}
.item-uss a{
    text-align: center;
    color: rgb(35, 35, 218);
    margin: auto;
margin-left: 100px;
margin-top: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* font-size: 20px; */

}

/* ///////////////////////////////////////// */
.overleyy{
    width: 200px;
    height: 300px;
    border: 1px solid red;
    margin-left: 400px;
    /* position: fixed; */
    position: relative;
}
.overlayy i{
    font-size: 600px;
    padding: 10px 15px;
    font-weight: 20px;
    background-color: blue;
    border: 1px solid blue;
    position: fixed;
    color: rgb(255, 0, 119);
}
body{
    position: relative;
}
/* ////////////////////////////////////// */
.aside-icon{
    font-size: 70px;
}
/* ///////////////////// */
.navbar-brand:hover{
    text-shadow: 50px 50px 20px rgb(117, 20, 49);
}
/* ////////////////////////////////////// */
.test{
    width: 100%;
    height: 400px;
    margin: 50px auto;
    box-shadow: 1px 1px 20px rgb(156, 95, 212);
}
.t{
    width: 100%;
    height: 400px;

}
.left{
    /* background-color: rgb(21, 23, 24); */

    background-color: rgb(79, 43, 207);

    position: relative;
    z-index: 2;
}
.it{
    background-color: skyblue;
    position: relative;

}

.it::after{
    height: 100%;
    width: 10%;
    content: "";
    position: absolute;
    z-index: -1;
    
    background-color: skyblue;
    left: 0;
    top: 0;
    transform: skewX(10deg);
    transform-origin: bottom right;

}
.left::after{
    height: 100%;
    width: 10%;
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgb(79, 43, 207);

    right: 0;
    top: 0;
    transform: skewx(-10deg);
    transform-origin: bottom right;
    z-index: 0;

}
.right{
    background-image: url(../image/دف1.jpg);
    width: 100%;
    

      background-size: cover;
}
.its{
    position: relative;
    z-index: -2;
    background-image: url(../image/دف1.jpg);
    background-size: cover;
    /* transform: scale(2,1.2); */
}
.postcard__bar{
    border: 2px solid blue;
    border-radius: 2px;
    width: 60px;
    height: 3px;
}
 .postcard__bar:hover{
    width: 150px;
background-color: teal;
 }

.aa{
text-decoration: none;
/* text-decoration: underline; */
list-style: none;

}


.postcard__tagbox{
    text-decoration: none;
    list-style: none;
}
.postcard__tagbox li{
    display: inline-block;
    margin: 50px 50px;
    padding: 10px 5px;
    background-color:blue;
    text-decoration: none;
    list-style: none;
}

/* ///////////////////////// */
.d1{
    width: 100%;
    height: 400px;
    /* border: 1px solid royalblue; */
    box-shadow: 1px 1px 20px blueviolet;
}
/* ///////////////////////////////////////////// */
.lust{
    width: 100%;
    height:  500px;
    border: 1px solid rgb(231, 220, 220);
    margin-top: 200px;
    background-color: rgb(0, 38, 255);
}
.logoi{
    /* font-size: 50px; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}